name: Deploy frontend to ECR

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    paths:
      - 'frontend/**'  
    branches: [ master ]

jobs:
  
  build:
    
    name: Build Image
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Step 1: Check out the repository code
    - name: Checkout code
      uses: actions/checkout@v3

    # Step 2: Set up Node.js environment
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14'  # Use Node.js version 18

    # Step 3: Install dependencies
    - name: Install dependencies
      run: npm install

    # Step 3: Set CalVer tag
    - name: Set CalVer tag
      id: set-tag
      run: echo "IMAGE_TAG=$(date +'%Y.%m.%d-%H%M%S')" >> $GITHUB_ENV

    # Step 4: Optional: Log in to Docker Hub and push Docker image
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2 #give your region

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        echo "Building Docker image with tag: $IMAGE_TAG"
        docker build -t "${{ env.FRONTEND }}" .
        docker build -t $ECR_REGISTRY/${{vars.ECR_FRONTEND_REPOSITORY}}:$IMAGE_TAG .
        docker push $ECR_REGISTRY/${{vars.ECR_FRONTEND_REPOSITORY}}:$IMAGE_TAG